@import '../variable.scss';

header{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    h1{
        color: $color-from;
        margin-top: 20px;
        font-size: 3rem;
    }
  
}

main{
    .feaPro{
        display: flex;
        color: $color-from;
        padding-bottom: 10px;
        font-size: 2rem;
        width: 80%;
        margin: auto;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid gray;
    margin: auto;
    margin-top: 30px;
    width: 80%;

    
    p.text{
        background-color: rgb(207, 207, 207);
        margin: 1px;
    }
}